.workout-item {
    background-color: white;
    margin-left: 15%;
    padding: 3%;
    width: 70%;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 10px;
}

.workout-item h1 {
    color: lightseagreen;
    margin: 0;
    font-size: 2rem;
}

.workout-item-btn-container button {
    color: white;
    background-color: black;
    padding: 10px 10px;
    text-align: center;
    margin-right: 1rem;
    border-radius: 5px;
}

.workout-item-btn-container button:hover {
    color: black;
    background-color: white;
}

.close-btn-container {
    text-align: right;
}

.close-window {
    padding: 3px 10px;
    border-radius: 7px;
    color: white;
    background-color: black;
}


.close-window:hover {
    color: red
}

.delete-btn-loading {
    background-color: #aaaaaa !important;
}